*,
*::before,
*::after
{
  box-sizing: border-box;
}

:root
{
  --color-sky: #78A7ff;
  --color-sun: #ffffcc;
  --color-dirt: #926C4D;
  --color-path: #ac9453;
  --color-grass: #228b22;
  --color-stone: #837c7c;
  --color-void: #17191a;
  --color-lava: #e67300;
  --color-diamond: #45ACA5;
  --color-bedrock: #444;
}

@media ( prefers-color-scheme: dark )
{
  :root
  {
    --color-sky: #001233;
    --color-sun: #ccdcff;
    --color-grass: #196719;
    --color-path: #8a7742;
    --color-dirt: #75563e;
    --color-stone: #696363;
    --color-lava: #ff8c1a;
  }
}

html,
body
{
  margin: 0;
  padding: 0;
  background-color: var( --color-void );
  font-family: sans-serif;
  font-size: 16px;
}

html,
body,
a
{
  color: #ffffff;
}

img
{
  max-width: 100%;
}

.container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header
{
  background-color: var( --color-sky );
  color: #fff;
  text-shadow: 0 0 2px #666;
  position: relative;
}

header::before
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: var( --color-sun );
  box-shadow: 0 0 5px 2px var( --color-sun );
}

header h1
{
  font-size: 1.3rem;
  margin-bottom: 0;
}

header p
{
  font-size: 0.8rem;
  margin-top: 0;
}

nav
{
  padding-top: 1rem;
  background-color: var( --color-grass );
  font-size: 0.7rem;
  border-bottom: 2rem solid var( --color-dirt );
}

nav .container
{
  padding: 0.5rem 0;
}

nav ul
{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a
{
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 2px #666;
  text-transform: uppercase;
}

nav a.current
{
  background-color: var( --color-path );
}

main
{
  background-color: var( --color-stone );
  position: relative;
}

main::before
{
  left: 0;
}

main::after
{
  right: 0;
}

main::before,
main::after
{
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var( --color-dirt );
  top: 0;
}

main a
{
  font-weight: bold;
}

section.articles
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article
{
  background-color: var( --color-bedrock );
  padding: 1rem;
}

article .title
{
  font-size: 1.4rem;
  font-weight: bold;
}

article .metadata
{
  font-size: 0.8rem;
}

article .excerpt
{
  padding: 1rem 0;
  font-size: 0.9rem;
}

article .buttons
{
  display: flex;
  gap: 1rem;
}

article .buttons a
{
  background-color: var( --color-dirt );
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.article img
{
  margin: 0 -1rem;
  max-width: calc( 100% + 2rem );
}

section.lava
{
  display: block;
  height: 2rem;
  background-color: var( --color-lava );
  box-shadow: 0 0 10px var( --color-lava );
  position: relative;
}

section.lava::before,
section.lava::after
{
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  margin: 6px;
  background-color: var( --color-diamond );
  border: 0px solid var( --color-stone );
  border-top-width: 0.2rem;
  border-bottom-width: 0.4rem;
  box-shadow: inset 0 0 5px var( --color-lava );
}

section.lava::before
{
  left: 0;
}

section.lava::after
{
  right: 0;
}

footer
{
  border-top: 1rem solid var( --color-bedrock );
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #888;
  font-family: monospace;
}
