---
layout: 'base.njk'
---

<h2>Get In Touch</h2>
<p>
  You can send me an email anytime:
  <script type="text/javascript">
    var email_address = 'contact' + '@' + 'davecomputergeek' + '.' + 'com';
    document.write( '<a href="mailto:' + email_address + '" target="_blank">' + email_address + '</a>' );
  </script>
  <noscript>
    contact [at] davecomputergeek [dot] com
  </noscript>
</p>